@import "tailwindcss";


body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    display: block;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.1;
    margin: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #222;
        background-color: #ffffff;
    }

}
